body {
    background: white;
    background-image: url("/championsleague.jpg");
}

.jumbotron {
 
    margin-top: 5%;
    border-radius: 0px !important;
}

.basic-div {
    padding: 3%, 3%, 3%, 0%;
}